.header_bar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #42b983;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_bar .header_title {
  flex: 2;
  color: #fff;
  font-size: 22px;
  text-align: center;
}
.header_bar .left_search {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}
.header_bar .left_search .iconfont {
  font-size: 22px;
}
.header_bar .right_login {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}
