#login {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
}
#login .login_heder .go_back {
  color: #fff;
  margin-left: 10px;
  font-weight: 700;
}
#login .login_heder h1.login_logo {
  font-size: 50px;
  font-weight: 700;
  color: #42b983;
  text-align: center;
  margin: 120px 0 50px;
}
#login .login_footer {
  padding: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  text-align: center;
}
#login .login_footer .attention {
  color: #008080;
}
#login .login_footer .about {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  font-size: 15px;
}
