#login {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    box-sizing: border-box;

    .login_heder {
        .go_back {
            height: 40px;
            background-color: #008080;
            line-height: 40px;
            padding-left: 20px;
           a {
            color: #fff;
           }
        }
        .login_logo {
            font-size: 50px;
            font-weight: 700;
            color:#008080;
            text-align: center;
            margin-top: 50px;
        }
    }

    .login_content {
        margin-top: 30px;
        text-align: center;
        .tab_nav {
            height: 40px;
            line-height: 40px;
            margin-bottom: 10px;
            span {
                font-weight: 700;
                padding: 0 20px 8px;
                font-size: 18px;
            }
            // 下划线样式
            .underline {
                border-bottom: thick solid #008080;
                color:  #008080;
            }
        }
        .tab_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                width: 70%;
                height: 40px;
                margin-bottom: 20px;
                box-shadow: 1px 3px 3px 3px #ccc;
                color: #ccc;
                font-size: 25px;
                padding-left: 20px;
                
                &::placeholder {
                    color: #ccc;
                    font-size: 20px;
                }
            }
            
        }
    }

    .login_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15%;
        line-height: 1.5;
        button {
            outline: none;
            border: none;
            height: 50px;
            width: 70% + 40px;
            background-color:  #42b983;
            font-size: 22px;
            font-weight: 700;
            color: #fff;
            margin: 15px;
        }
        .attention {
            color: #008080;
        }
    }
}