.main_box {
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.main_box .left_menu {
  width: 135px;
  height: 100%;
  position: fixed;
  top: 45px;
  overflow: scroll;
}
.main_box .left_menu .van-collapse-item {
  text-align: center;
  padding: 5px 0;
  background-color: #fff;
}
.main_box .left_menu .van-sidebar {
  width: 100%;
}
.main_box .left_menu .van-sidebar .van-sidebar-item {
  background-color: #fff;
}
.main_box .left_menu .van-sidebar /deep/ .van-sidebar-item--select::before {
  background-color: #42b983;
}
.main_box .left_menu .van-sidebar /deep/ .van-sidebar-item--select .van-sidebar-item__text {
  color: #42b983;
}
.main_box .right_top_order_tab {
  flex: 1;
  float: right;
  height: 50px;
  position: fixed;
  top: 46px;
  right: 0;
  left: 135px;
  z-index: 2;
}
.main_box .right_bottom_list {
  flex: 1;
  position: absolute;
  top: 100px;
  left: 135px;
  right: 0;
  padding: 0 5px 55px;
}
