.main_box {
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.main_box .left_menu {
  width: 130px;
  height: 500px;
  position: fixed;
  top: 100px;
}
.main_box .left_menu .van-collapse-item {
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
}
.main_box .left_menu .van-sidebar {
  width: 100%;
}
.main_box .left_menu .van-sidebar .van-sidebar-item {
  background-color: #fff;
}
.main_box .left_menu .van-sidebar /deep/ .van-sidebar-item--select::before {
  background-color: #008080;
}
.main_box .left_menu .van-sidebar /deep/ .van-sidebar-item--select .van-sidebar-item__text {
  color: #008080;
}
.main_box .right_top_order_tab {
  flex: 1;
  float: right;
  height: 50px;
  position: fixed;
  top: 50px;
  right: 0;
  left: 130px;
  z-index: 2;
}
.main_box .right_bottom_list {
  flex: 1;
  position: absolute;
  top: 50px;
  left: 130px;
  right: 0;
  height: 100vh;
}
