.main_box {
    // margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    position: relative;
  
    // 左侧
    .left_menu {
        width: 135px;
        height: 100%;
        position: fixed;
        top:45px;
        overflow: scroll;
        
     // 选项菜单
      .van-collapse-item {
        text-align: center;
        padding: 5px 0;
        background-color: #fff;
      }
      .van-sidebar {
        width: 100%;
        .van-sidebar-item {
          background-color: #fff;
  
        }
        // 选中的选项
        /deep/.van-sidebar-item--select {
          &::before{
            background-color: #42b983;
          }
          .van-sidebar-item__text {
            color: #42b983;
          }
          
        }
      }
    }
  
    // 右侧
    // 上部排序栏
    .right_top_order_tab {
        flex: 1;
        float: right;
        height: 50px;
        position: fixed;
        top: 46px;
        right: 0;
        left: 135px;
        z-index: 2;
    }

    // 下部 商品列表
    .right_bottom_list {
        flex: 1;
        position: absolute;
        top: 100px;
        left: 135px;
        right: 0;
        // height: 100vh;
        padding: 0 5px 55px;
    }
}